.headtext__cormorant1 {
    font-family: var(--font-alt);
    color: white;
    font-size: 40px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
}

.social__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
}

.copyright{
    font-family: var(--font-alt);
    color: white;
}