.coupon__card-main-div{
    border: 1px solid #d4d5d9;
    width: 32%;
    height: 35vh;
    margin-bottom: 2%;
    padding: 20px;
}

.coupon_code{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    border: 1px solid #daceb7;
    background-color: #fffae6;
    width: 40%;
    padding: 5px;
    font-family: var(--font-alt);
    margin-bottom: 15px;
}

.coupon_title{
    font-family: var(--font-alt);
    font-weight: 600;
    margin-bottom: 10px;
}

.coupon_description{
    font-family: var(--font-alt);
    margin-bottom: 10px;
}

.coupon_button{
    padding: 10px;
    color: #fc8019;
    border: 1px solid #fc8019;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}